.main {

    &__area {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 40px 130px 40px 130px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        align-items: center;
        justify-content: space-around;
        background-size: cover;
    }

    &__section--intro {
        font-size: 20px;
        font-weight: 500;
        color: #5F6858;
        display: flex;
        height: 150px;
    }

    &__section {
        padding: 0 0 40;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }

    &__wrapper {
        justify-content: space-between;

        &--sectionItemId-7 {
            background-color: #376242;
        }
    }



    &__sectionItem--even {
        display: flex;
        flex-direction: row-reverse;

        .main__section--text {
            padding-left: 100px;
        }
    }


    &__sectionItem--odd {
        display: flex;
        flex-direction: row;
        align-items: center;

        .main__section--text {
            padding-right: 100px;
        }
    }

    &__sectionItemId-7 {
        background-color: #376242;
        background-size: cover;

        h2,
        p {
            color: #fff;
        }

    }

    &__sectionItem--title {
        font-size: 56px;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        white-space: pre-line;
        color: #3c4238;
        line-height: 1.2;
    }


    &__sectionItem--paragraph {
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        white-space: pre-line;
        color: #5f6858;
        margin-top: 0;
    }


}